* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar ul img {
    width: 250px;
    height: 100px;
}

.navbar .navbar-links a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.navbar .navbar-links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hero-section {
    position: relative;
    height: 500px; /* Adjust the height based on your needs */
    margin-top: -150px;
    z-index:-10;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none; /* Remove border */
}

.players {
    display: flex;
   /* Center the players horizontally */
    margin-top: 20px; /* Adjust margin based on your needs */
}

.players img {
    margin: 0 20px;
    border: solid 1px lightgray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.players-content h1 {
    text-align: center;
}
